:root {
    --pico-font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
        'Ubuntu Mono', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Consolas', 'Courier New',
        monospace;
}

.text-center {
    text-align: center;
}

.text-secondary {
    color: gray;
}

span {
    cursor: pointer;
}