:root {
  --pico-font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Mono",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Consolas", "Courier New",
    monospace;
}

.text-center {
  text-align: center;
}

.text-secondary {
  --pico-color: gray;
}

span {
  cursor: pointer;
}

#binaryNum {
  font-size: 3.1rem;
}

#base10Num {
  --pico-color: gray;
  font-size: 1.8rem;
}
#bits {
  --pico-color: gray;
  font-size: 1.5rem;
}

#binary-counter {
  font-size: 3.5rem;
}

#decimal-counter {
  font-size: 2.5rem;
}

@media only screen and (max-width: 600px) {
  #binary-counter {
    font-size: 3rem;
  }
}